/* Load fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@page {
  margin: 2.5cm 2cm 3.5cm 2cm;
  size: a4;

  @top-center {
    content: element(header);
    vertical-align: top;
  }

  @bottom-center {
    content: element(footer);
    vertical-align: bottom;
  }
}

.header {
  position: running(header);
}

.footer {
  position: running(footer);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

strong {
  font-weight: 600;
}

.header img {
  width: 85px;
}

.header {
  margin-top: 48px;
}

h1 {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 16px;
  font-weight: 700;
}

h2 {
  font-size: 12px;
  line-height: 15px;
  margin: 16px 0 8px;
  font-weight: 700;
}

.footer hr {
  border: 0;
  border-top: 1px solid #E3E7EB;
  margin: 8px 0;
  padding: 0;
  height: 1px;
}

.footer .page-number:after {
  content: counter(page) " di " counter(pages);
  color: #898989;
}

.footer .pagopa {
  content: '';
  display: block;
  clear: both;
}

.footer .pagopa-data {
  color: #475A6D;
  display: inline-block;
}

.footer .pictogram {
  float: right;
}

.footer {
  margin-bottom: 12px;
  font-size: 6px;
  line-height: 7.5px;
}

.content > div {
 margin-bottom: 8px;
}
