/* Load fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 64px 48px;
}

.header img {
  width: 85px;
}


h1 {
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0;
  font-weight: 700;
}

.purpose-info {
  margin: 16px 0;
}

.purpose-info .label {
  float: left;
}

.purpose-info .label,
.purpose-info .value {
  width: 50%;
  display: inline-block;
}

.purpose-info .value {
  font-weight: 600;
}

.purpose-answers .item {
  margin: 16px 0;
}

.purpose-answers .info-label {
  font-style: italic;
}

.purpose-answers .answer {
  font-weight: 600;
}

.signature {
  margin: 32px 0;
}

.signature .date {
  float: left;
}

.signature .date,
.signature .message {
  width: 50%;
  display: inline-block;
}

.signature .message {
  font-weight: 500;
}

.footer {
  margin: 32px 0;
}

.footer .page-number {
  color: #898989;
}

.footer hr {
  border: 0; 
  border-top: 1px solid #E3E7EB;
  margin: 8 0; 
  padding: 0;
  height: 1px;
}

.footer .pagopa {
  content: '';
  display: block;
  clear: both;
}

.footer .pagopa-data {
  color: #475A6D;
  display: inline-block;
  font-size: 6px;
  line-height: 7.5px;
}

.footer .pictogram {
  float: right;
}